# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- main
- develop

variables:
- group: CodeSigning
- name: solution
  value: '**/*.sln'
- name: buildPlatform
  value: 'Any CPU'
- name: buildConfiguration
  value: 'Release'
- name: major
  value: 0
- name: minor
  value: 2
- name: patch
  value: 2
- name: AssemblyVersion
  value: $(major).$(minor).$(patch)
  
jobs:

- job: build
  pool:
    vmImage: 'windows-latest'
  steps:
    - template: ci/build.yml
      
- job: windows_installer
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  pool:
    vmImage: 'windows-latest'
  dependsOn:
    build
  steps:
    - template: ci/windows_installer.yml
      
- job: linux_installer
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  pool:
    vmImage: 'ubuntu-latest'
  dependsOn:
    build
  steps:
    - template: ci/linux_installer.yml

