@page "/configuration/drivers"

@using Microsoft.AspNetCore.SignalR.Client

@using Aporta.Shared.Messaging
@using Aporta.Shared.Models
@using Aporta.Shared.Calls

@inject HttpClient Http
@inject NavigationManager NavigationManager

@implements IDisposable

<Heading Size="HeadingSize.Is1">Drivers</Heading>

@if (_extensions == null)
{
    <div class="spinner"></div>
}
else
{
    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Name</TableHeaderCell>
                <TableHeaderCell>Enabled</TableHeaderCell>
                <TableHeaderCell>Loaded</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
        @foreach (var extension in _extensions)
        {
            <TableRow>
                <TableRowHeader>
                    <a href="configuration/driver/@extension.Id">
                        @extension.Name
                    </a>
                </TableRowHeader>
                <TableRowCell>
                    <Check TValue="bool" Checked="@extension.Enabled" CheckedChanged="async (bool checkedValue) => { await ExtensionEnabledChanged(extension.Id, checkedValue); }"/>
                </TableRowCell>
                <TableRowCell>
                    @if (extension.Loaded)
                    {
                        <Icon Name="IconName.ThumbsUp" Style="color: green"/>
                    }
                    else
                    {
                        <Icon Name="IconName.ThumbsDown" Style="color: red"/>
                    }
                </TableRowCell>
            </TableRow>
        }
        </TableBody>
    </Table>
}

@code {
    private Extension[] _extensions;
    private HubConnection _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(Locations.DataChangeNotification))
            .WithAutomaticReconnect()
            .Build();
        _hubConnection.On<Guid>(Methods.ExtensionDataChanged, async extensionId =>
        {
            _extensions = await Http.GetFromJsonAsync<Extension[]>(Paths.Extensions);
            
            StateHasChanged();
        });
        await _hubConnection.StartAsync();
        
        _extensions = await Http.GetFromJsonAsync<Extension[]>(Paths.Extensions);
    }
    
    async Task ExtensionEnabledChanged(Guid extensionId, bool checkedValue)
    {
        string url = $"{Paths.Extensions}/{extensionId}";
        url = QueryHelpers.AddQueryString(url, "enabled", checkedValue.ToString());
        var response = await Http.PostAsync(url, new StringContent(string.Empty));
        if (!response.IsSuccessStatusCode)
        {
            throw new Exception($"Unable to update extension. Response reason - {(int)response.StatusCode}:{response.ReasonPhrase}");
        }
    }
        
    public void Dispose()
    {
        _ = _hubConnection.DisposeAsync();
    }
}