@using Newtonsoft.Json

@if (_configuration == null)
{
    <div class="spinner"></div>
}
else
{
    <Text>Setup</Text>

    <MessageProvider/>
}

@code {
    [Inject] 
    IMessageService MessageService { get; set; }
    
    private Aporta.Drivers.Virtual.Shared.Configuration _configuration;
    
    [Parameter]
    public Guid ExtensionId { get; set; }

    [Parameter]
    public string RawConfiguration { get; set; }
    
    protected override void OnParametersSet()
    {
        _configuration = JsonConvert.DeserializeObject<Aporta.Drivers.Virtual.Shared.Configuration>(RawConfiguration);
    }
}
