<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Aporta" Language="1033" Version="!(bind.FileVersion.AportaService)" Manufacturer="Z-bit" UpgradeCode="3155e450-efaf-4294-a12b-097295667284">
		<Package InstallerVersion="200" 
             Platform="x64"
             Compressed="yes" 
             InstallScope="perMachine"
             InstallPrivileges="elevated"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Property Id="DOTNETCORE31">0</Property>

    <Binary Id="WixCA.dll" SourceFile="$(var.CustomActions.TargetDir)$(var.CustomActions.TargetName).CA.dll" />
    <CustomAction Id="Check.NetCore" BinaryKey="WixCA.dll" DllEntry="CheckDotNetCore31Installed" Execute="firstSequence"  />

    <Condition Message="You must first install the .NET Core 3.1 Runtime">
      Installed OR DOTNETCORE31="1"
    </Condition>

    <InstallUISequence>
      <Custom Action="Check.NetCore" Before="LaunchConditions">NOT Installed</Custom>
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="Check.NetCore" Before="LaunchConditions">NOT Installed</Custom>
    </InstallExecuteSequence>

		<Feature Id="ProductFeature" Title="Aporta" Level="1">
      <ComponentGroupRef Id="Aporta_Exe" />
      <ComponentGroupRef Id="Aporta_Project" />
    </Feature>
	</Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Aporta">
          <Directory Id="DATAFOLDER" Name="Data" />
        </Directory>
      </Directory>
    </Directory>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="Aporta_Exe">
      <Component Id="Aporta_ExePathEntry" Directory="INSTALLFOLDER" Guid="C1C60C1B-822C-4F12-BE02-D7B7F1024A9B">
        <CreateFolder/>
        <RemoveFile Id="InstallState" On="uninstall" Name="aporta.InstallState" />
        <Environment
          Id="PATH"
          Name="PATH"
          Value="[INSTALLFOLDER]"
          Permanent="yes"
          Part="last"
          Action="set"
          System="yes" />
      </Component>

      <Component Id="Aporta_ServiceInstaller" Directory="INSTALLFOLDER" Guid="10C702B9-C283-421F-B166-771543D89A8B">
        <File Id="AportaService" DiskId="1" KeyPath="yes" Source="$(var.BasePath)\Aporta.exe"/>
        <ServiceInstall
          Id="ServiceInstaller"
          Type="ownProcess"
          Name="AportaService"
          DisplayName="Aporta"
          Description="Open source physical access control controller"
          Start="auto"
          Account="LocalSystem"
          ErrorControl="normal" />
        <ServiceControl
          Id="ServiceInstaller"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Name="AportaService"
          Wait="yes" />
      </Component>
      
      <Component Id="Aporta_SetFolderPermissions" Directory="DATAFOLDER"  Guid="989FE60B-79C3-4FC9-8CC2-5D3101850576">
        <CreateFolder>
          <Permission GenericAll="yes" User="Users"/>
        </CreateFolder>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
