@page "/control"

@inject HttpClient Http

<h1>Control</h1>

<input type="checkbox" @onchange="async eventArgs => await SetControlPoint(eventArgs.Value)"> 

@code {
    async Task SetControlPoint(object checkedValue)
    {
        string url = $"api/controlpoints";
        url = QueryHelpers.AddQueryString(url, "state", checkedValue.ToString());
        var response = await Http.PostAsync(url, new StringContent(string.Empty));
        if (!response.IsSuccessStatusCode)
        {
            throw new Exception($"Unable to update extension. Response reason - {(int) response.StatusCode}:{response.ReasonPhrase}");
        }
    }
}