@page "/extensions"
@using Aporta.Shared.Models
@using Microsoft.AspNetCore.SignalR.Client
@using Aporta.Shared.Messaging
@using Aporta.Shared.Calls
@inject HttpClient Http
@inject NavigationManager NavigationManager
@implements IDisposable

<h1>Extensions</h1>

<p></p>

@if (_extensions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Enabled</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var extension in _extensions)
        {
            <tr>
                <td>@extension.Name</td>
                <td>
                    <input type="checkbox" checked="@extension.Enabled" @onchange="async eventArgs => await ExtensionEnabledChanged(extension.Id, eventArgs.Value)">   
                </td>               
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Extension[] _extensions;
    private HubConnection _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(Locations.DataChangeNotification))
            .WithAutomaticReconnect()
            .Build();
        _hubConnection.On(Methods.ExtensionDataChanged, async () =>
        {
            _extensions = await Http.GetFromJsonAsync<Extension[]>(Paths.Extension);
            
            StateHasChanged();
        });
        await _hubConnection.StartAsync();
        
        _extensions = await Http.GetFromJsonAsync<Extension[]>(Paths.Extension);
    }
    
    async Task ExtensionEnabledChanged(Guid extensionId, object checkedValue)
    {
        string url = $"{Paths.Extension}/{extensionId}";
        url = QueryHelpers.AddQueryString(url, "enabled", checkedValue.ToString());
        var response = await Http.PostAsync(url, new StringContent(string.Empty));
        if (!response.IsSuccessStatusCode)
        {
            throw new Exception($"Unable to update extension. Response reason - {(int)response.StatusCode}:{response.ReasonPhrase}");
        }
    }
        
    public void Dispose()
    {
        _ = _hubConnection.DisposeAsync();
    }
}